.container {
    width: 50%;
    margin: 5%;
    padding: 2%;
    border: 2px solid black;
    text-align: left;
}
  
.row {
    padding-bottom: 3%;
}

.hr-line{
    margin-top: 15%;
}

#submit-area{
    margin-top: 5%;
    float: right;
}